<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta charset="utf-8">
  <title>Junior Developer Jobs in Web Development, Software, Data Science and more </title>
  <meta name="description" content="{{description}}">
  <meta name="author" content="Boris Povolotsky">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <!-- TODO: Add favicon here -->

</head>

<body>

  {{> header}}
  {{{ body }}}
  {{> footer}}

</body>
</html>
