<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta charset="utf-8">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150966572-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-150966572-1');
  </script>

  <title>{{metaTags.title}}</title>
  <meta name="description" content="{{metaTags.description}}">
  <meta name="author" content="Boris Povolotsky">
  <meta name="keywords" content="{{metaTags.keywords}}"

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- TODO: Add favicon here -->

</head>

<body>

  {{> header}}
  {{> feedback}}
  {{{ body }}}
  {{> footer}}

</body>

  <script src="/js/main.js"></script>

</html>
