
<body class="m-0 p-0 bg-gray-100 text-white">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="mx-auto w-screen sm:w-64 rounded bg-orange-200 h-auto">

    <h1 class="text-center text-lg font-bold py-4">
      Sorry, Page Does Not Exist!
    </h1>
    <h5 class="text-center text-base text-gray-900 font-thin mt-4 px-4">
      You were trying probably trying to access a wrong URL
    </h5>
    <a class="italic text-indigo-700" href={{link}}>
      Go Back
    </a>

  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
