<body class="m-0 p-0 bg-gray-100 text-white">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="mx-auto max-w-xl">
    {{> subscribe}}
  </div>

  <div class="jobs overflow-hidden max-w-xl lg:max-w-4xl mx-auto pb-64 mt-16">

    <h1 class="font-bold text-4xl text-indigo-700 text-center relative mb-12">
      Latest Jobs
      <span class="title__underline shadow-xl"></span>
    </h1>
    <div class="container bg-red-100 mx-auto rounded-sm">

        <div class="flex flex-col">

          <form action="/jobs/search/" method="GET" class="search__form">
            {{#if searchMessage}}
            <h2 class="font-semibold text-base italic text-red-400 text-shadow text-center p-2">
              {{ searchMessage }}
            </h2>
            {{/if}}
            <div class="mx-auto w-1/2">
              <input name='q' type='text' class="search__bar text-gray-700 text-center bg-indigo-200 py-2 pr-2 border-l w-full m-auto rounded opacity-75" placeholder="Search">
              <span class="">Search</span>
            </div>
          </form>
          {{#if jobs}}


          {{#each jobs}}

          {{>jobcard}}

          {{/each}}
          {{/if}}

        </div>
      </div>
    </div>
  
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
