/* @import 'style.css'; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title__underline {
  transform: translateX(-50%) skew(-50deg, -2deg);
  bottom: 15%;
  left: 50%;
  position: absolute;
  height: 8px;
  width: 25%;
  z-index: -1;
  background: linear-gradient(-75deg, red 10%, orange 90%);
  border-radius: 12px;
}

.header__underline {
  transform: translateX(-50%) skew(-25deg, -2deg);
  bottom: 8%;
  left: 50%;
  position: absolute;
  height: 14px;
  width: 100%;
  z-index: -1;
  background: #161a68;
  border-radius: 2px;
  opacity: 0.9;
}

.header__bold {
  font-weight: bold;
  font-size: 32px;
  position: relative;
  width: 100%;
  font-style: normal;
}

.jobcard:first-child {
  margin-top: 0 !important;
  border-top: none;
}

.tags {
  color: #0f1115;
}

.cta {
  transition: all 0.1s ease-in-out;
}

.job__desc {
  max-width: 95%;
}

.job__desc p {
  margin-bottom: 0.8em;
  font-size: 15px;
  font-weight: 300;
}

.job__desc li {
  font-size: 15px;
  font-weight: 300;
}

.job__desc ul, ol {
  margin-left: 26px;
  margin-bottom: 13px;
}

.job__desc strong {
  font-weight: 600;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 4px 12px;
}
