<!-- FOOTER CODE HERE -->

<footer class="footer fixed bottom-0 text-center border-gray pin-b w-full z-50">

  <div class="feedback__div relative mb-10 cursor-pointer">
    <div class="text-gray-700 bg-orange-300 rounded lg:w-1/4 w-full p-2 absolute top-0 right-0">
      Have Feedback? Leave here
    </div>
  </div>

  <div class="width-auto h36 bg-black p-2">

    <h1 class="hidden md:block text-center text-indigo100 mt20 mb20 mx-auto">
      By: Boris Povolotsky, Junior dev Forever, 
      For: Junior Developers, For Community.
    </h1>

    <h1 class="md:hidden text-center text-indigo100 mt20 mb20 mx-auto">
      made by junior - 
      for juniors
    </h1>

  </div>

</footer>
