<!-- FOOTER CODE HERE -->

<footer class="footer fixed p-4 text-center border-gray pin-b w-full">

  <div class="width-auto h36 bg-black">
    <h1 class="text-center text-indigo100 mt20 mb20 mx-auto">
      By: Boris Povolotsky, Junior dev Forever, 
      For: Junior Developers, For Community.
    </h1>
  </div>

</footer>
